<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menú principal</title>
    <link rel="stylesheet" href="./menuprincipal.css">
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="https://trello.com/b/wvgzLzqH/todolist-mads">ToDoList</a></li>
            <li><a href="#">Tareas</a></li>
            <li class="dropdown" id = "nav_init">
                <button class="dropbtn">Usuario</button>
                <div class="dropdown-content">
                    <button onclick="display='block'" >Cuenta</button>
                    <button onclick="display='block'" >Cerrar sesión</button>
                </div>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>