<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo=${usuario.getNombre()})"></head>

<body>

<header th:replace="fragments:: header (esAdmin=${usuarioSesion.getAdministrador()} ,username=${usuarioSesion.nombre}, userid=${usuarioSesion.id})"> </header>
<div class="container">
      <h1 th:text="${usuario.getNombre()}"></h1>

        <div class="card">

          <div class="list id">
            <p> Id </p>
          </div>

          <div class="list nombre">
            <p> Nombre </p>
          </div>

          <div class="list email">
            <p> Email </p>
          </div>

          <div class="list nacimiento">
            <p> Fecha de nacimiento </p>
          </div>


        </div>


        <div class="card">
          <div class="list id">
            <p  th:text="${usuario.id}"></p>
          </div>
          <div class="list nombre">
            <p  th:text="${usuario.nombre}"></p>
          </div>
          <div class="list email">
            <p  th:text="${usuario.email}"></p>
          </div>
          <div class="list nacimiento">
            <p  th:text="${usuario.fechaNacimiento}"></p>
          </div>
        </div>
      </div>

      <button onclick="volver()"/> Volver </a>
    </div>
  </div>

</div>


</body>
</html>